@charset "UTF-8";
/* Navigation Bar */
@font-face {
  src: url(/);
  src: url(../assets/fonts/IBMPlexMono-ExtraLight.ttf);
  font-family: 'nabvar-1';
}

@font-face {
  src: url(../assets/fonts/IBMPlexMono-Medium.ttf);
  font-family: 'nabvar-2';
}

@font-face {
  src: url(../assets/fonts/IBMPlexMono-Regular.ttf);
  font-family: 'nabvar-3';
}

@font-face {
  src: url(../assets/fonts/IBMPlexSans-Light.ttf);
  font-family: 'font-1';
}

@font-face {
  src: url(../assets/fonts/IBMPlexMono-Light.ttf);
  font-family: 'font-2';
}

@font-face {
  src: url(../assets/fonts/IBMPlexMono-Medium.ttf);
  font-family: 'font-3';
}

@font-face {
  src: url(../assets/fonts/IBMPlexSans-SemiBold.ttf);
  font-family: 'font-4';
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
}

main section.greeting article h2 {
  font-family: 'font-1';
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

main section.greeting article p {
  font-family: 'font-2';
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

a.btn-greet {
  font-family: 'font-3';
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  background: #00F3BB;
}

.pod-title {
  font-family: 'font-1';
  padding-top: 11%;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
}

.we-title, section.guests h2, section.our-themes h2 {
  font-family: 'font-1';
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

.body {
  /*max-width: 100%;
    /*height: 300rem;*/
}

.header {
  /*display: flex;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0.0001%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  z-index: 1;
}

.logo {
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0.63rem;
  margin-left: 5%;
}

header.header nav.navbar div.menu-space li.menu-li a {
  text-decoration: none;
  color: #FFFFFF;
}

.navbar {
  background: #0000EC;
  overflow: hidden;
  display: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.01s;
          transition-delay: 0.01s;
  z-index: 1;
}

.menu-li:hover {
  font-family: 'nabvar-2';
  font-size: 16px;
  color: #00F3BB;
  letter-spacing: 0;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  line-height: 28px;
}

.menu-li:active {
  font-family: 'IBMPlexMono', monospace;
  font-size: 16px;
  color: rgba(6, 10, 36, 0.56);
  letter-spacing: 0;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  line-height: 28px;
}

.menu-space {
  margin: 1rem;
  overflow: hidden;
}

.menu_items {
  height: 100%;
  font-family: 'nabvar-1';
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
  width: 100%;
  height: 14rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul.menu_items {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*
Initial greeting
*/
.introduction {
  margin-top: 1.81rem;
  margin-bottom: 2.25rem;
}

.greeting {
  margin: 1rem;
  margin-bottom: 0rem;
}

main section.greeting h6 {
  display: none;
}

main section.greeting article h2 {
  max-width: 13.88rem;
  margin-bottom: 1rem;
}

main section.greeting article h2 span.span-world::before {
  content: "world";
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

main section.greeting article h2 span.span-dot::after {
  content: ".";
}

a.btn-greet {
  padding: 5.3rem;
  padding-top: 0.81rem;
  padding-bottom: 0.81rem;
  text-align: center;
  text-justify: center;
}

a.btn-greet:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

/*
Podcast Section
*/
.pod-1 {
  width: 100%;
  /*frameborder:0;
    allowtransparency="true"
    */
}

.pod-2 {
  width: 100%;
  /*frameborder:0;
    allowtransparency="true"
    */
}

.pod-3 {
  width: 100%;
  /*frameborder:0;
    allowtransparency="true"
    */
}

.pod-4 {
  width: 100%;
  /*frameborder:0;
    allowtransparency="true"
    */
}

section.podcast h6 {
  display: none;
}

.podcast {
  padding-top: 4rem;
  background-image: linear-gradient(175deg, transparent 4%, #0000FF 4.2%, #0000A3 62%, transparent 62.3%);
}

.all-pods {
  max-width: 90%;
  display: -ms-grid;
  display: grid;
  margin: 1rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 1rem;
}

.art-pod {
  margin: 1rem;
}

.pod-title {
  -ms-grid-row: 1;
  grid-row: 1;
}

section.podcast {
  overflow: hidden;
}

/** 
DE DONDE VENIMOS
*/
section.where-we h2 {
  display: none;
}

.img-phone {
  padding-top: 3rem;
  width: 100%;
}

.where-we {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 1rem;
}

.we-title {
  padding-bottom: 1rem;
}

section.where-we p {
  font-family: 'font-2';
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  padding-bottom: 1rem;
}

/*
INVITADOS
*/
section.guests h6 {
  display: none;
}

.guests {
  overflow: hidden;
}

.art-guests {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

section.guests article img {
  width: 100%;
}

section.guests h2 {
  padding-top: 15%;
  padding: 1rem;
}

/*
TEMAS
*/
section.our-themes h6 {
  display: none;
}

.our-themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-bottom: 1rem;
}

.grid-ot {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 1%;
}

section.our-themes h2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  justify-self: flex-start;
}

section.our-themes h3 {
  padding: 1rem;
  font-family: 'font-4';
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
}

section.our-themes img {
  -ms-grid-column-align: center;
      justify-self: center;
}

/* 
NOTICIAS
*/
.news {
  width: 100%;
  padding-top: 5rem;
  height: 10%;
  background-image: linear-gradient(175deg, transparent 26%, #0000FF 28%);
}

article.art-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.news h6 {
  display: none;
}

section.news h2 {
  margin-top: 6rem;
  font-family: 'font-1';
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
}

section.news a {
  font-family: 'font-3';
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

a.btn-news {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18rem;
  height: 3rem;
  margin-top: 2.25rem;
  margin-bottom: 4.19rem;
  text-align: center;
  text-justify: center;
  background: #00F3BB;
}

a.btn-news:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

.f-pod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.f-pod h6 {
  display: none;
}

footer.f-pod h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'font-2';
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

.img-fontawsome {
  text-decoration: none;
  color: #060A24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer.f-pod section.img-fontawsome a {
  text-decoration: none;
  color: #060A24;
}

@media screen and (max-width: 800px) {
  main section.greeting article p::before {
    content: "Un podcast que explora el mundo de la programación.";
  }
}

@media screen and (min-width: 800px) {
  main section.greeting article p::before {
    content: "El portal de podcasts que explora el mundo de la programación y la tecnología.";
  }
  .logo {
    margin-left: 6.25rem;
    width: 2.25rem;
  }
  #btn-nav {
    display: none;
  }
  .menu {
    display: none;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #FFFFFF;
  }
  .header {
    -ms-grid-columns: 52% 48%;
        grid-template-columns: 52% 48%;
  }
  .menu_items {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #060A24;
  }
  header.header nav.navbar div.menu-space li.menu-li a {
    color: #060A24;
  }
  .menu-space {
    margin: 1.63rem;
    overflow: hidden;
    margin-right: 1rem;
  }
  /*
    SALUDO
    */
  main section.greeting article h2 {
    max-width: 30rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main section.greeting span.span-dot {
    color: #0a28e9;
  }
  .greeting {
    margin-left: 13.9%;
  }
  .introduction {
    padding-top: 7.5rem;
    margin-bottom: 2.25rem;
  }
  a.btn-greet {
    padding: 5%;
    padding-top: 0.81rem;
    padding-bottom: 0.81rem;
    right: 1%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main section.greeting article h2 {
    font-size: 64px;
    max-width: 50rem;
  }
  main section.greeting article p {
    max-width: 39rem;
    font-size: 16px;
    line-height: 24px;
  }
  /*Podcast*/
  .podcast {
    max-width: 100%;
    background-image: linear-gradient(175deg, transparent 8%, #0000FF 8.2%, #0000A3 62%, transparent 62.3%);
  }
  .all-pods {
    max-width: 99.99%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    margin-top: 4rem;
    -ms-grid-rows: 0% 17% 17% 68%;
        grid-template-rows: 0% 17% 17% 68%;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    gap: 4.5rem;
  }
  div.all-pods iframe {
    max-width: 82%;
    max-height: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  div.all-pods article {
    margin-top: 1rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  div.all-pods iframe.pod-1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/ 1 / 3 / 2;
    justify-self: flex-end;
  }
  div.all-pods iframe.pod-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/ 2 / 3 / 3;
    justify-self: flex-start;
  }
  div.all-pods iframe.pod-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/ 1 / 4 / 2;
    justify-self: flex-end;
  }
  div.all-pods iframe.pod-4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/ 2 / 4 / 3;
    justify-self: flex-start;
  }
  div.all-pods section.where-we {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4/ 1 / 5 / 3;
  }
  /* de donde venimos */
  .where-we {
    display: -ms-grid;
    display: grid;
    max-width: 90%;
    max-height: 90%;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 1rem;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  section.where-we img.img-phone {
    padding-top: 0.01%;
    justify-self: flex-end;
    max-width: 70%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/ 1 / 2 / 2;
  }
  section.where-we article {
    padding-top: 15rem;
    margin-left: 2rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/ 2 / 2 / 3;
  }
  .we-title {
    font-size: 48px;
  }
  section.where-we p {
    max-width: 74%;
    font-family: 'font-2';
    font-size: 16px;
    line-height: 24px;
  }
  /* INVITADOS*/
  .art-guests {
    width: 100%;
    margin-top: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 45% 45%;
        grid-template-rows: 10% 45% 45%;
    -ms-grid-columns: 33.33% 33.33% 33.33%;
        grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .guests {
    width: 100%;
  }
  section.guests h2 {
    font-size: 48px;
    margin-left: 4.5rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  section.guests img.img-g-1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  section.guests img.img-g-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  section.guests img.img-g-3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
  section.guests img.img-g-4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  section.guests img.img-g-5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
  section.guests img.img-g-6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 3 / 3 / 4 / 4;
  }
  /*TEMAS*/
  section.our-themes h2 {
    padding-bottom: 10rem;
  }
  .grid-ot {
    max-width: 73%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 39% 28% 32%;
        grid-template-rows: 39% 28% 32%;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    row-gap: 0.1%;
  }
  article.grid-ot h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  .th-img-1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .th-img-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .th-img-3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
  .th-img-4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2 / 4 / 3 / 5;
  }
  .tt-img-2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .tt-img-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
  .tt-img-4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 3 / 3 / 4 / 4;
  }
  .tt-img-5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 3 / 4 / 4 / 5;
  }
  /*NEWS*/
  section.news h2 {
    font-size: 48px;
  }
  section.news a {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 7rem;
  }
  /*FOOTER*/
  .f-pod {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer.f-pod h1 {
    width: 30%;
    margin-left: 6.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 16px;
    line-height: 28px;
  }
  .img-fontawsome {
    max-width: 20%;
    justify-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 3rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.menu {
  position: absolute;
  right: 5.9%;
  margin: 1rem;
}

#btn-nav {
  opacity: 0;
  position: absolute;
  right: 5.9%;
  margin: 1rem;
  z-index: 1;
  height: 2rem;
  width: 2rem;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1.13rem;
  height: 0.75rem;
  z-index: 9;
}

#line1 {
  background: #060A24;
}

#line2 {
  background: #060A24;
}

#line3 {
  background: #060A24;
}

.line {
  width: 100%;
  height: 15%;
  background: #000000;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.checkbox:checked ~ * #line1 {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-delay: 0.01s;
          transition-delay: 0.01s;
}

.checkbox:checked ~ * #line2 {
  display: none;
}

.checkbox:checked ~ * #line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-delay: 0.01s;
          transition-delay: 0.01s;
}

#btn-nav:checked ~ .menu {
  top: 0.4rem;
}

#btn-nav:checked ~ .navbar {
  display: inline;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidedown;
          animation-name: slidedown;
}

@-webkit-keyframes slidedown {
  from {
    margin-top: -5%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes slidedown {
  from {
    margin-top: -5%;
  }
  to {
    margin-top: 0%;
  }
}
/*# sourceMappingURL=style.css.map */